.footer-page {
	min-width: 305px;
	margin-top: 30px;
	background: $background-dark;
}
.footer-page__copyright {
	flex-basis: 350px;
	padding-top: 5px;
	font-family: $ff-title;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01px;
	color: $color-white; 
}
.footer-page__copyright a{
	color: $color-white; 
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: 0.5
	}
}
.footer-page__list {
	margin: 0;
	padding: 2px 0 0 0;
	list-style: none;
}
.footer-page__list a {
	font-family: $ff-title;
	font-size: 14px;
	line-height: 26px;
	color: $color-white;
	&:hover {
		text-decoration: none;
	}
	&:active {
		opacity: 0.5
	} 
}
.footer-page__container-logo {
	display: flex;
	margin-left: auto;
	padding-top: 10px;
	flex-basis: 275px;
}
.footer-page__logo {
	min-width: 100px;
	min-height: 100px;
	background: $color-white;
}
.footer-page__logo-info {
	margin-left: 12px;
}
.footer-page__logo-info h1{
	@include heder-title;
	color: $color-white;	
}
.footer-page__logo-info span {
	@include info-title;
	color: $color-white;
}
@media (min-width: 922px) {
	.footer-page {
		margin-top: 70px;
		padding: 40px 0;
	}
	.footer-page__copyright {
		margin-left: 16px;
	}
	.footer-page__list {
		margin-left: 28px;
	}
	.footer-page__container-logo {
		margin-left: 50px;
	}
}