.navbar {
	margin-bottom: 0;
	background: $background-dark;
	min-width: 305px;
	border-radius: 0;
}
.main-nav__list li:first-child::before {
		background: $background-dark;
	}
	.navbar .main-nav__list li a {
		display: block;
		padding: 15px 25px;
		font-family: $ff-title;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;
		text-decoration: none;
		color: $color-white;
		&:hover {
			text-decoration: underline;
		}
		&:active {
			opacity: 0.5;
		}
	}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: $color-white;
}
@media (max-width: 989px) {
	.main-nav__list {
		justify-content: center;
	}
}
@media (min-width: 768px) {
	.navbar-collapse {
		padding: 0;
	}
	.main-nav__list {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
	}
	.main-nav__list li {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 27px;
			width: 2px;
			height: 24px;
			background: $color-white;
		}
	}
	.main-nav__list li:first-child::before {
		background: $background-dark;
	}
	.navbar .main-nav__list li a {
		display: block;
		padding: 21px 25px;
		font-family: $ff-title;
		font-weight: lighter;
		font-size: 28px;
		line-height: 35px;

		text-decoration: none;
		color: $color-white;
		&:hover {
			text-decoration: underline;
		}
		&:active {
			opacity: 0.5;
		}
	}
		/*костилi*/
		.main-nav__list li:nth-of-type(1) a {
			padding: 21px 20px 23px 35px;
			letter-spacing: -0.2px;
		}
		.main-nav__list li:nth-of-type(2) a {
			padding: 21px 23px 23px 25px;
		}
		.main-nav__list li:nth-of-type(3) a {
			padding: 21px 23px 23px 23px;
			letter-spacing: 0.5px;
		}
		.main-nav__list li:nth-of-type(4) a {
			padding: 21px 23px 23px 15px;
		}

}