@mixin container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}
@mixin heder-title {
	margin: 8px 0 10px 0;
	font-weight: bold;	
	font-size: 30px;
	line-height: 25px;
	letter-spacing: -0.2px;
	font-family: $ff-title;
	color: $color-header;
} 
@mixin info-title {
	display: block;
	padding-top: 5px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.15px;
	font-family: $ff-title;
	color: $color-header;
}
@mixin phone-title {
	font-family: $ff-phone-title;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -4px;
	color: $color-header;
}