$background: #dbdbdb;
$background-dark: #777777;
$bg-content-column-left: linear-gradient(to bottom, #bbbbbb 0%, #555555 100%);

$color-white: #ffffff;

.body {
	font-size: 13px;
	line-height: 16px;
	font-family: 'arial', sans-serif;
}